:root {
  --color-background: #111111;
  --color-text-subtle: #999999;
  --color-text: #eeeeee;
  --font-family: -apple-system, Helvetica, sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 3rem;
  --font-size-base: clamp(16px, 1.6vw, 18px);
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --line-height-base: 1.4;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 4rem;
  --transition-speed: 200ms; }

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #eeeeee;
    --color-text-subtle: #777777;
    --color-text: #111111; } }

.commands {
  columns: 1;
  list-style: none;
  margin: 0 auto;
  max-width: 10rem;
  padding: 0 0 0 var(--space-1);
  width: 100vw; }

.command {
  display: flex;
  gap: var(--space-2);
  outline: 0;
  padding: var(--space-1);
  text-decoration: none; }

.key {
  color: var(--color-text);
  display: inline-block;
  text-align: center;
  width: 3ch; }

.name {
  color: var(--color-text-subtle);
  transition: color var(--transition-speed); }

.command:where(:focus, :hover) .name {
  color: var(--color-text); }

@media (min-width: 500px) {
  .commands {
    columns: 2;
    max-width: 20rem; } }

@media (min-width: 800px) {
  .commands {
    columns: 4;
    max-width: 40rem; } }
