html {
	background-color: var(--color-background);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

body {
	margin: 0;
}

main {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	padding: var(--space-3) var(--space-2);
	position: relative;
	width: 100vw;
}